
a{
    text-decoration: none !important;
    color: #bda5f6 !important;
}
a:hover{
    color: #665889 !important;
}
.navbar{
    padding-left: 380px !important;
    font-size: 17px !important;
    width: 100% !important;
    border-bottom: #665889 1px solid !important;
}